/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define QWE (0)
#define NAV (1)
#define SYM (2)
#define NUM (3)
#define FUN (4)


/ {
  keymap {
    compatible = "zmk,keymap";

    qwerty_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
      bindings = <
  &none  &kp Q   &kp W  &kp E &kp R &kp T                                                  &kp Y &kp U  &kp I     &kp O   &kp P    &none
  &none  &kp A   &kp S  &kp D &kp F &kp G                                                  &kp H &kp J  &kp K     &kp L   &kp APOS &none
  &none  &kp Z   &kp X  &kp C &kp V &kp B     &none        &none        &none  &none       &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &none
                        &none &none &kp LSHFT &lt NAV BSPC &none     &none  &lt SYM RET &kp SPACE &none &none
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
    };
    navigation_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
      bindings = <
  &none  &none   &none  &none &none &none                                                  &none &none &none &none &none &none
  &none  &none   &none  &none &none &none                                                  &kp LEFT &kp DOWN &kp UP &kp RIGHT &none &none
  &none  &kp HOME   &kp PGUP  &kp PGDN &kp END &none  &none &none                        &none  &none &none &none &none &none &none &none
                        &none &none &none  &none &none                        &none  &none &none &none &none
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
    };
    symbol_layer {
      bindings = <
  &none  &none   &none  &none &none &none                                                  &none &none &none &none &none &none
  &none  &none   &none  &none &none &none                                                  &none &none &none &none &none &none
  &none  &none   &none  &none &none &none  &none &none                        &none  &none &none &none &none &none &none &none
                        &none &none &none  &none &none                        &none  &none &none &none &none
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
    };
    number_layer {
      bindings = <
  &none  &none   &none  &none &none &none                                                  &kp KP_PLUS &kp N7 &kp N8 &kp N9 &kp KP_MULTIPLY &none
  &none  &none   &none  &none &none &none                                                  &kp KP_EQUAL &kp N4 &kp N5 &kp N6 &none &none
  &none  &none   &none  &none &none &none  &none &none                        &none  &none &kp KP_MINUS &kp N1 &kp N2 &kp N3 &kp KP_DIVIDE &none
                        &none &none &none  &none &none                        &none  &kp KP_DOT &kp N0 &none &none
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
    };
    function_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
//                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
      bindings = <
  &kp F9 &kp F10 &kp F11 &kp F12 &none &none                                                  &none &none &none &none &none &none
  &kp F5 &kp F6  &kp F7  &kp F8  &none &none                                                  &none &none &none &none &none &none
  &kp F1 &kp F2  &kp F3  &kp F4  &none &none  &none &none                        &none  &none &none &none &none &none &none &none
                        &none &none &none  &none &none                        &none  &none &none &none &none
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
    };
  };
};
